<!DOCTYPE html>
<html>

<head> </head>

<body>
    <div>
        <div class="roboimg animate__animated animate__fadeIn">
            <img src="https://www.freeiconspng.com/thumbs/robot-icons/robot-icon-7.png" />
        </div>
        <div class="deletebook animate__animated animate__fadeIn">
            <button mat-raised-button (click)="deletebook()">Detete Book</button>
        </div>
        <div class="deleteuser animate__animated animate__fadeIn">
            <button mat-raised-button (click)="deleteuser()">Delete User</button>
        </div>
    </div>
</body>

</html>