@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap");
.example-container {
    width: 10px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    height: 20%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    height: 100%;
    padding: 20px;
    margin-top: 4.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.head {
    margin-left: 20%;
}

.sider {
    display: grid;
    flex-direction: row;
}

.innergrid {
    display: grid;
    flex-direction: row;
    gap: 1em;
}

.title {
    font-size: 30px;
    font-family: "Righteous", cursive;
    color: white;
}

.author {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: white;
}

.price {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: white;
}

.search {
    margin-left: 1em;
}

.searchbutton {
    margin-left: 1em;
}

.b1 {
    color: crimson;
}

.spacer1 {
    margin-left: 1em;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}


/* new */

.title1 {
    font-size: 30px;
    font-family: "Righteous", cursive;
    color: royalblue;
}

.author {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: rgb(204, 85, 85);
    font-weight: 500;
}

.price {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: #25283d;
}

#card1 {
    background-color: rgb(161, 170, 175);
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.stock {
    color: white;
    font-size: 15px;
}

#imgpost {
    align-items: center;
}

.innergrid {
    display: grid;
    flex-direction: row;
    gap: 1em;
}

.container {
    width: 400px;
    align-items: center;
}

.notfound {
    font-size: 30px;
    color: royalblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.div2 {
    margin-left: 30em;
    width: 370px;
}