<body class="all" *ngIf="!DarkState && !Login && !KeepLogin">
    <mat-toolbar color="primary">
        <span class="head">AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/signup">Sign Up</a>
            </li>
        </ul>
    </mat-toolbar>
    <mat-card *ngIf="!DarkState">
        <img src="https://thumbs.dreamstime.com/b/vector-light-bulb-white-file-eps-format-34983265.jpg" width="300" height="290" *ngIf="DarkState" />
        <img src="https://previews.123rf.com/images/ericmilos/ericmilos0912/ericmilos091200136/6109526-3d-render-of-light-bulb-on-white.jpg" width="300" height="300" *ngIf="!DarkState" />
        <br />

        <span class="mat-body-2">Please Enter Your Username and Password</span>
        <form (submit)="onlogging(postForm)" #postForm="ngForm">
            <mat-form-field>
                <input matInput type="text" name="username" required [ngModel]="user?.username" placeholder="Username" minlength="3" #username="ngModel" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="password" name="password" required [ngModel]="user?.password" placeholder="password" minlength="3" #password="ngModel" />
            </mat-form-field>
            <br />
            <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
        <br /><br /><br />
    </mat-card>
</body>

<body style="background-color: black" class="all" *ngIf="DarkState">
    <mat-toolbar color="accent">
        <span>AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/signup">Sign Up</a>
            </li>
        </ul>
    </mat-toolbar>
    <mat-card *ngIf="DarkState">
        <img src="https://thumbs.dreamstime.com/b/vector-light-bulb-white-file-eps-format-34983265.jpg" width="300" height="290" *ngIf="DarkState" />
        <img src="https://previews.123rf.com/images/ericmilos/ericmilos0912/ericmilos091200136/6109526-3d-render-of-light-bulb-on-white.jpg" width="300" height="300" *ngIf="!DarkState" />
        <br />

        <span class="mat-body-2">Please Enter Your Username and Password</span>
        <form (submit)="onlogging(postForm)" #postForm="ngForm">
            <mat-form-field>
                <input matInput type="text" name="username" required [ngModel]="user?.username" placeholder="Username" minlength="3" #username="ngModel" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="password" name="password" required [ngModel]="user?.password" placeholder="password" minlength="3" #password="ngModel" />
            </mat-form-field>
            <br />
            <button class="b1" type="submit" mat-raised-button color="accent">
        Login
      </button>
        </form>
        <br /><br /><br />
    </mat-card>
</body>