<body class="all" *ngIf="!DarkState && !Login && !KeepLogin && !isAuthenticated">
    <mat-toolbar color="primary" class="animate__animated animate__fadeInDown">
        <span class="head">AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/signup">Sign Up</a>
            </li>
        </ul>
    </mat-toolbar>
    <div class="grider">
        <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/standard-light-bulb.png" class="animate__animated animate__fadeIn" width="300" height="290" *ngIf="!DarkState" />

        <mat-card class="animate__animated animate__fadeInRight" *ngIf="!DarkState">
            <!-- <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/standard-light-bulb.png" width="300" height="290" *ngIf="!DarkState" /> -->

            <!-- <img src="https://thumbs.dreamstime.com/b/vector-light-bulb-white-file-eps-format-34983265.jpg" width="300" height="290" *ngIf="DarkState" /> -->
            <!-- <img src="https://previews.123rf.com/images/ericmilos/ericmilos0912/ericmilos091200136/6109526-3d-render-of-light-bulb-on-white.jpg" width="300" height="300" *ngIf="!DarkState" /> -->

            <div class="loginStyle">Login</div>
            <div>
                <br />

                <span class="mat-body-2">Please Enter Your Username and Password</span>
                <form (submit)="onlogging(postForm)" #postForm="ngForm">
                    <mat-form-field>
                        <input matInput type="text" name="email" ngModel #emailInput="ngModel" email required placeholder="Email" />
                        <mat-error *ngIf="emailInput.invalid">Please enter a vaild email</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="password" name="password" ngModel #password #passwordInput="ngModel" required placeholder="Password" />
                        <mat-error *ngIf="passwordInput.invalid">Please enter password</mat-error>
                    </mat-form-field>

                    <br />
                    <button type="submit" mat-raised-button color="primary">Login</button>
                </form>
                <br /><br /><br />
            </div>
        </mat-card>
    </div>
</body>

<body style="background-color: black" class="all" *ngIf="DarkState && !isAuthenticated">
    <mat-toolbar color="accent" class="animate__animated animate__fadeInDown">
        <span class="head">AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/signup">Sign Up</a>
            </li>
        </ul>
    </mat-toolbar>
    <div class="grider">
        <!-- <img src="https://thumbs.dreamstime.com/b/vector-light-bulb-white-file-eps-format-34983265.jpg" width="300" height="290" *ngIf="DarkState" /> -->
        <!-- <img src="https://pngimg.com/uploads/bulb/small/bulb_PNG1244.png" width="250" height="260" *ngIf="DarkState" /> -->
        <img src="https://lh3.googleusercontent.com/proxy/QksAINdQR1Vy8o0rSt9qHxTIy3FkVbPyQUGZZ5vf28R8rYE-PuO08pV69dSvco4GRd0juccwVPyS4CQAlDRrXnJg5W3Qj_5IWlarCLoSE9lmhbq62P7-EEZ81HFHXXgnJ5IvJBQIiUokyE-R5wPx" class="animate__animated animate__fadeIn" width="300"
            height="290" *ngIf="DarkState" />

        <mat-card class="animate__animated animate__fadeInRight" *ngIf="DarkState">
            <div class="loginStyle">Login</div>

            <br />

            <span class="mat-body-2">Please Enter Your Username and Password</span>
            <form (submit)="onlogging(postForm)" #postForm="ngForm">
                <mat-form-field>
                    <input matInput type="text" name="email" ngModel #emailInput="ngModel" email required placeholder="Email" />
                    <mat-error *ngIf="emailInput.invalid">Please enter a vaild email</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput type="password" name="password" ngModel #password #passwordInput="ngModel" required placeholder="Password" />
                    <mat-error *ngIf="passwordInput.invalid">Please enter password</mat-error>
                </mat-form-field>
                <br />
                <button class="b1" type="submit" mat-raised-button color="accent">
          Login
        </button>
            </form>
            <br /><br /><br />
        </mat-card>
    </div>
</body>

<body *ngIf="isAuthenticated">
    <mat-card class="mat-card1">
        <div class="confused">You Are Already Logged In!!</div>
        <img src="https://thumbs.dreamstime.com/z/geek-boy-confused-cartoon-illustration-geeky-little-44146685.jpg" width="300" height="400" />
        <br />
        <button class="b1" mat-raised-button color="accent" (click)="gotoStore()">
      Go to Store
    </button>
        <br />
        <br />
        <button class="b1" mat-raised-button color="accent" (click)="logout()">
      LogOut
    </button>
    </mat-card>
</body>