@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.head {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}