<div class="mainContainer">
    <!-- <div class="left">
        <a href="#" class="fa fa-facebook"></a>

        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div> -->
    <div>
        <ul>
            <li>
                <a href="https://www.facebook.com/ahmad.lotfy.718">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Ahmed_Lotfy0">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ahmed-mohamed-lotfy-5030a917a/">
                    <i class="fa fa-linkedin"></i>

                    <span>LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ahmedlotfy4444/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/AhmedLotfy02">
                    <i class="fa fa-github fa-4x icon-3d"></i>

                    <span>Github</span>
                </a>
            </li>
        </ul>
    </div>
    <span class="right"> Created by Ahmed Lotfy </span>
</div>