<!DOCTYPE html>
<html>

<head> </head>

<body>
    <div>
        <div class="roboimg animate__animated animate__fadeIn">
            <img src="http://localhost:3000/images/robot-icon-7.png" />
        </div>
        <div class="createbook animate__animated animate__fadeIn">
            <button mat-raised-button (click)="createbook()">Create Book</button>
        </div>
        <div class="createuser animate__animated animate__fadeIn">
            <button mat-raised-button (click)="createuser()">Create User</button>
        </div>
    </div>
</body>

</html>