<!DOCTYPE html>
<html>

<head> </head>

<body>
    <div class="header animate__animated animate__fadeInDown">
        <div class="left">
            <p>Admin Panel</p>
        </div>
        <div class="right">
            <a routerLink="/admin/options/create/createuser" [routerLinkActive]="['classbtn']" mat-raised-button (click)="create()">Create</a
        >
        <a
          routerLink="/admin/options/update/updateuser"
          [routerLinkActive]="['classbtn']"
          mat-raised-button
          (click)="update()"
          >Update</a
        >
        <a
          routerLink="/admin/options/delete/deleteuser"
          [routerLinkActive]="['classbtn']"
          mat-raised-button
          (click)="delete()"
          >Delete</a
        >
      </div>
    </div>
  </body>
</html>