<body class="all" *ngIf="!DarkState && !isAuthenticated">
    <mat-toolbar color="primary" class="animate__animated animate__fadeInDown">
        <span class="head">AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/">Login</a>
            </li>
        </ul>
    </mat-toolbar>
    <div class="grider">
        <img src="https://images.twinkl.co.uk/tr/image/upload/t_illustration/illustation/Boy-Reading-a-Book-Reflection-of-Light.png" class="animate__animated animate__fadeInLeft" width="500" height="400" *ngIf="!DarkState" />

        <mat-card class="animate__animated animate__fadeInRight" *ngIf="!DarkState">
            <div class="signupStyle">SignUp</div>
            <br />

            <span class="mat-body-2">You Must Sign Up First</span>
            <div>
                <br />

                <span class="mat-body-2">Please Enter Your Informations</span>
                <form (submit)="onSignup(postForm)" #postForm="ngForm">
                    <mat-form-field>
                        <input matInput type="text" name="username" ngModel #username="ngModel" required placeholder="Username" />
                        <mat-error *ngIf="username.invalid">Please enter a vaild username</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="text" name="email" ngModel #emailInput="ngModel" email required placeholder="Email" />
                        <mat-error *ngIf="emailInput.invalid">Please enter a vaild email</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="text" name="image" ngModel #image="ngModel" required placeholder="Image" />
                        <mat-error *ngIf="image.invalid">Please enter a vaild image</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="password" name="password" ngModel #password #passwordInput="ngModel" required placeholder="Password" />
                        <mat-error *ngIf="passwordInput.invalid">Please enter password</mat-error>
                    </mat-form-field>

                    <br />
                    <button type="submit" mat-raised-button color="primary">
            SignUp
          </button>
                </form>
                <br /><br /><br />
            </div>

            <br /><br /><br />
        </mat-card>
    </div>
</body>

<body style="background-color: black" class="all" *ngIf="DarkState && !isAuthenticated">
    <mat-toolbar color="accent" class="animate__animated animate__fadeInDown">
        <span>AL Book-Store</span>

        <span class="spacer"></span>
        <button mat-raised-button color="black" (click)="ToggleDark()" *ngIf="!DarkState">
      Dark Mode
    </button>
        <button mat-raised-button color="accent" (click)="ToggleDark()" *ngIf="DarkState">
      Normal Mode
    </button>

        <ul>
            <li>
                <a mat-button routerLink="/">Login</a>
            </li>
        </ul>
    </mat-toolbar>
    <div class="grider">
        <img src="https://www.savepng.com/file/thumb/2020-06/78295-light-sun-glory-golden-png-free-photo-thumb.png" class="animate__animated animate__fadeInLeft" width="430" height="430" *ngIf="DarkState" />

        <mat-card class="animate__animated animate__fadeInRight" *ngIf="DarkState">
            <div class="signupStyle">SignUp</div>

            <br />

            <span class="mat-body-2">You Must Sign Up First</span>
            <div>
                <br />

                <span class="mat-body-2">Please Enter Your Username and Password</span>
                <form (submit)="onSignup(postForm)" #postForm="ngForm">
                    <mat-form-field>
                        <input matInput type="text" name="email" ngModel #emailInput="ngModel" email required placeholder="Email" />
                        <mat-error *ngIf="emailInput.invalid">Please enter a vaild email</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="password" name="password" ngModel #password #passwordInput="ngModel" required placeholder="Password" />
                        <mat-error *ngIf="passwordInput.invalid">Please enter password</mat-error>
                    </mat-form-field>

                    <br />
                    <button type="submit" mat-raised-button color="primary">
            SignUp
          </button>
                </form>
                <br /><br /><br />
            </div>
            <!-- <form (submit)="onSignUp(postForm)" #postForm="ngForm">
            <mat-form-field>
                <input matInput type="text" name="username" required ngModel placeholder="Username" minlength="3" #usernameInput="ngModel" />
                <mat-error ngIf="usernameInput.invalid">Please Enter Your Username</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="text" name="email" ngModel required placeholder="Email" minlength="3" #emailInput="ngModel" email />
                <mat-error ngIf="emailInput.invalid">Please Enter Your Email</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="password" name="password" required placeholder="password" minlength="3" ngModel #Pass="ngModel" />
                <mat-error ngIf="Pass.invalid">Please Enter Your Password</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="password" name="confirmpassword" required placeholder="Confirm Your Password" minlength="3" ngModel #confirm="ngModel" />
                <mat-error ngIf="confirm.invalid">Please Enter Your Password</mat-error>
            </mat-form-field>
            <br />
            <div *ngIf="falsePass">Password Must be the Confirmed Password</div>
            <button type="submit" mat-raised-button color="primary">Sign Up</button>
        </form> -->

            <br /><br /><br />
        </mat-card>
    </div>
</body>

<body *ngIf="isAuthenticated">
    <mat-card class="mat-card1">
        <div class="confused">You Are Already Logged In!!</div>
        <img src="https://thumbs.dreamstime.com/z/geek-boy-confused-cartoon-illustration-geeky-little-44146685.jpg" width="300" height="400" />
        <br />
        <button class="b1" mat-raised-button color="accent" (click)="gotoStore()">
      Go to Store
    </button>
        <br />
        <br />
        <button class="b1" mat-raised-button color="accent" (click)="logout()">
      LogOut
    </button>
    </mat-card>
</body>