.innergrid {
    display: grid;
    flex-direction: row;
    gap: 1em;
}

body {}

.title {
    font-size: 34px;
    font-family: "Righteous", cursive;
    /* color: #86c232; */
    color: #ea7166;
}

.author {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: #86c232;
    font-weight: 500;
}

.price {
    font-size: 15px;
    font-family: "Righteous", cursive;
    color: #86c232;
}

#card1 {
    background-color: rgb(161, 170, 175);
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.stock {
    color: white;
    font-size: 15px;
}

#imgpost {
    align-items: center;
}

.griding {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.confused {
    font-family: "Lobster", cursive;
    font-size: 30px;
    color: indianred;
}

.maincontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 30px;
    align-items: center;
}

.author-tinfor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    /* background: #222629; */
    background: #25395c;
    width: 400px;
}