<app-search-tool-bar></app-search-tool-bar>

<mat-card class="griding"><span>Your Cost: {{ price }}</span>
    <button mat-raised-button color="accent">CheckOut</button>
</mat-card>
<mat-grid-list cols="3" rowHeight="580px" [gutterSize]="'9px'">
    <mat-grid-tile *ngFor="let book of books">
        <mat-card id="card1">
            <section class="innergrid">
                <span class="title">Title: {{ book.Title }}</span>
                <span class="price">Price: {{ book.Price }} EGP</span>
                <span class="author">Author: {{ book.Author }}</span>
                <span class="stock">Stock: {{ book.Stock }}</span>

                <img id="imgpost" src="{{ book.Cover }}" width="200" height="250" />
            </section>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>