.innergrid {
    display: grid;
    flex-direction: row;
    gap: 1em;
}

body {}

.title {
    font-size: 30px;
    font-family: "Righteous", cursive;
    color: royalblue;
}

.author {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: rgb(204, 85, 85);
    font-weight: 500;
}

.price {
    font-size: 20px;
    font-family: "Righteous", cursive;
    color: #25283d;
}

#card1 {
    background-color: rgb(161, 170, 175);
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.stock {
    color: white;
    font-size: 15px;
}

#imgpost {
    align-items: center;
}

.griding {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
}