body {
    background: url("https://www.teahub.io/photos/full/55-551482_1999x1233-book-full-hd-wallpaper-and-background-book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}