<!DOCTYPE html>
<html>

<head> </head>

<body>
    <div>
        <div class="roboimg animate__animated animate__fadeIn">
            <img src="https://www.freeiconspng.com/thumbs/robot-icons/robot-icon-7.png" />
        </div>
        <div class="updatebook animate__animated animate__fadeIn">
            <button mat-raised-button (click)="updatebook()">Update Book</button>
        </div>
        <div class="updateuser animate__animated animate__fadeIn">
            <button mat-raised-button (click)="updateuser()">Update User</button>
        </div>
    </div>
</body>

</html>